/* ######################### GLOBAL ##################### */
:root {
	scroll-behavior: smooth;
	--black: #0C0C12;
	--navy-dark: #1C1D2B;
	--navy-med: #2B2D42;
	--navy-light: #3F4261;
	--gray-med: #8D99AE;
	--gray-light: #CFD7E6;
	--off-white: #EDF2F4;
	--pink-dark: #CC142A;
	--hot-pink: #E0394D;
	--pink-light: #FF4056;
	--font-dad: "Slackey", sans-serif;
	--font-tcd: "Rubik Dirt", sans-serif;
	--font-nav: "Alef", sans-serif;
	--font-headers: "Bungee", sans-serif;
	--font-reg: "Tilt Neon", sans-serif;
	--font-btn: "Unbounded", sans-serif;
}

body {
	font-family: var(--font-reg);
	background: var(--black);
	color: var(--off-white);
}

a {
	color: var(--navy-light);
	text-decoration: none;
}

a:hover {
	color: var(--pink-light);
	text-decoration: none;
	transform: scale(1.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-headers);
}

.btn {
	display: inline-block;
	margin: 5px 10px;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	font-family: var(--font-btn);
	font-size: 16px;
}

/* #################### SECTIONS ################## */
section {
	padding: 60px 0;
	overflow: hidden;
}

.section-header {
	text-align: center;
	padding-bottom: 40px;
}

.section-header h2 {
	font-size: 33px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0;
	color: var(--hot-pink);
}

.section-header p {
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 38px;
	line-height: 42px;
	font-weight: 700;
	color: var(--gray-light);
}

@media (max-width: 768px) {
	.section-header p {
		font-size: 28px;
		line-height: 32px;
	}
}

/* ################# HEADER ##################### */
.header {
	transition: all 0.5s;
	z-index: 997;
	padding: 20px 0;
}

.header.header-scrolled {
	background: rgba(63, 66, 97, .3);
	padding: 15px 0;
	box-shadow: 0px 2px 20px rgba(141, 153, 174, 0.1);
}

.header .logo {
	line-height: 0;
}

.header .logo img {
	max-height: 60px;
	margin-right: 6px;
}

.header .logo .dadfont {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--hot-pink);
	font-family: var(--font-dad);
	margin-top: 3px;
}

/* ################## NAV MENU ############# */

/* ###### DESKTOP NAV ##### */
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	font-family: var(--font-nav);
	font-size: 16px;
	font-weight: 700;
	color: var(--gray-light);
	white-space: nowrap;
	transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
	color: var(--pink-light);
}

/* ##### MOBILE NAV ##### */
.mobile-nav-toggle {
	color: var(--hot-pink);
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
	color: var(--gray-light);
}

@media (max-width: 1200px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(224, 57, 77, 0.55);
	transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	border-radius: 10px;
	background-color: var(--navy-med);
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: var(--off-white);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
	color: var(--hot-pink);
}

/* ###### HERO SECTION ###### */
.hero {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(199deg, rgba(28, 29, 43, .2)0%, rgba(43, 45, 66, .2)55%, rgba(63, 66, 97, .2)100%);
	background-size: cover;
}

.hero h1 {
	margin: 0;
	font-family: var(--font-dad);
	font-size: 32px;
	font-weight: 500;
	color: var(--gray-light);
}

.hero h2 {
	font-family: var(--font-reg);
	color: var(--pink-light);
	margin: 15px 0 0 0;
	font-size: 22px;
}

.hero .hero-img {
	text-align: right;
}

@media (min-width: 1024px) {
	.hero {
		background-attachment: fixed;
	}
}

@media (max-width: 991px) {
	.hero {
		height: auto;
		padding: 120px 0 60px 0;
	}

	.hero .hero-img {
		text-align: center;
		margin-top: 80px;
	}

	.hero .hero-img img {
		width: 80%;
	}
}

@media (max-width: 768px) {
	.hero {
		text-align: center;
	}

	.hero h1 {
		font-size: 32px;
	}

	.hero h2 {
		font-size: 19px;
	}

	.hero .hero-img img {
		width: 100%;
	}
}

/* ########### CONTENT SECTION ########### */
.content {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(199deg, rgba(28, 29, 43, .2)0%, rgba(43, 45, 66, .2)55%, rgba(63, 66, 97, .2)100%);
	background-size: cover;
}

.content h1 {
	color: var(--hot-pink);
	font-size: 26px;
	margin-bottom: 30px;
}

.content .btn-tcd {
	background: var(--hot-pink);
	border: 3px inset var(--off-white);
	color: var(--off-white);
	min-height: 25px;
	min-width: 75px;
	margin-top: 20px;
}

.content .btn-tcd:hover {
	background: var(--off-white);
	border: 3px ridge var(--hot-pink);
	color: var(--hot-pink);
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
}

.content .btn-tcdAlt {
	background: var(--off-white);
	border: 3px inset var(--hot-pink);
	color: var(--hot-pink);
	min-height: 25px;
	min-width: 75px;
	margin-top: 20px;
}

.content .btn-tcdAlt:hover {
	background: var(--hot-pink);
	border: 3px ridge var(--off-white);
	color: var(--off-white);
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
}

.content p {
	font-family: var(--font-reg);
	font-size: 26px;
	color: var(--off-white);
}

.content .hidden {
	display: none;
}

@media (min-width: 1024px) {
	.content {
		background-attachment: fixed;
	}
}

@media (max-width: 991px) {
	.content {
		height: auto;
		padding: 120px 0 60px 0;
	}
}

@media (max-width: 768px) {
	.content {
		text-align: center;
	}

	.content h1 {
		font-size: 24px;
	}
	
	.content p {
		font-size: 21px;
	}

}

/* ######### FOOTER SECTION ########*/
.footer {
	background: rgba(63, 66, 97, .4);
	padding: 0 0 10px 0;
	font-size: 14px;
}

.footer .footer-top {
	background-image: linear-gradient(192deg, rgba(28, 29, 43, .2)0%, rgba(43, 45, 66, .2)55%, rgba(63, 66, 97, .2)100%);
	background-size: contain;
	border-top: 2px ridge var(--pink-dark);
	border-bottom: 2px ridge var(--pink-dark);
	padding: 10px 0 5px 0;
}

@media (max-width: 992px) {
	.footer .footer-top {
		background-position: center bottom;
	}
}

.footer .footer-top .page {
	margin-bottom: 5px;
}

.footer .footer-top .page .logo {
	line-height: 0;
	margin-bottom: 5px;
}

.footer .footer-top .page .logo img {
	max-height: 50px;
}

.footer .footer-top .page .logo .dadfont {
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--gray-med);
	font-family: var(--font-dad);
}

.footer .copyright {
	padding-top: 5px;
	color: var(--off-white);
}

.footer .copyright .tcd {
	padding-top: 5px;
	font-size: 16px;
	font-family: var(--font-tcd);
	color: var(--hot-pink);
}

/* ########################################## END GLOBAL ################################## */


/* ############ INDEX.HTML ONLY  ########### */

/* ####### FEATURES SECTION ####### */
.features {
	background-image: linear-gradient(199deg, rgba(28, 29, 43, .2)0%, rgba(43, 45, 66, .2)55%, rgba(63, 66, 97, .2)100%);
	background-size: cover;
}

.features .features-item {
	box-sizing: content-box;
	padding: 20px;
	margin: 40px 30px;
	box-shadow: 0px 0 20px rgba(141, 153, 174, 0.1);
	background: rgba(141, 153, 174, .5);
	min-height: 320px;
	display: flex;
	flex-direction: column;
	text-align: center;
	transition: 0.3s;
}

.features .features-item .features-img {
	width: 140px;
	border-radius: 1%;
	border: 5px ridge var(--black);
	margin: 2px auto;
}

.features .features-item h3 {
	font-size: 16px;
	font-family: var(--font-reg);
	font-weight: bold;
	margin: 5px 0 3px 0;
	color: var(--off-white);
}

.features .features-item .btn-link {
	font-size: 14px;
	font-family: var(--font-btn);
	background: var(--hot-pink);
	color: var(--navy-dark);
	border: 3px ridge var(--navy-dark);
	margin: 5px auto;
	padding: 2px 5px;
}

.features .features-item p {
	font-style: italic;
	margin: 5px auto 10px auto;
}

.features .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.features .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: var(--navy-dark);
	opacity: 1;
	border: 1px ridge var(--pink-dark);
}

.features .swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--hot-pink);
}

.features .swiper-slide {
	opacity: 0.3;
}

@media (max-width: 1199px) {
	.features .swiper-slide-active {
		opacity: 1;
	}

	.features .swiper-pagination {
		margin-top: 0;
	}
}

@media (min-width: 1200px) {
	.features .swiper-slide-next {
		opacity: 1;
		transform: scale(1.12);
	}
}

/* ####################### END INDEX.HTML ONLY ###################### */